:host {
    position: absolute;
    top: -1em;
    color: lime;
    font-size: 25px;
    left: 50%;
    transform: translateX(-50%);
}
@media (max-width: 1000px) {
    :host {
        font-size: 18px;
    }
} 