
#wrapper {
  width: 100vw;
  // height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.enemy-turn,
.player-turn {
  position: absolute;
  top: 15%;
  color:mediumvioletred;
  font-size: 24px;
  z-index: 5 !important;
}

.enemy-turn {
  right: 20%;
}
.player-turn {
  left: 20%;
}