@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Pacifico&display=swap');

:host {
    display: none;
    text-align: center;
    color: crimson;
    
}
h1 {
    font-family: 'Pacifico', cursive !important;
}