@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

h1 {
  letter-spacing: 2px !important;
  text-align: center;
  color: #94BFA7;
  font-family: 'Chelsea Market', cursive !important;
  user-select: none;
}
