@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

h1 {
  letter-spacing: 2px !important;
  text-align: center;
  color: #94BFA7;
  font-family: 'Chelsea Market', cursive !important;
  user-select: none;
}
@media (orientation:landscape) {
  h2 {
    font-style: italic;
    display: none;
  }
  #app {
    display: initial;
  }
}
@media (orientation:portrait) {
  h2 {
    font-style: italic !important;
    display: block;
    color: lightgray;
    text-align: center;
  }
  #app {
    display: none;
  }
}