@use 'mixins'as *;
@use 'variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Pacifico&display=swap');

@media (orientation: portrait) {
  #flex-container {
    display: none !important;
  }
}
#flex-container {
  position: relative;
  width: 100%;
  height: 80%;
  @include display-flex();
}

.configuration-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;
  align-items: center;

  button {
    position: relative;
    margin-top: 1em;
    height: 2.5em;
    background-color: $light_green;
    font-size: 24px;
  }
}

.wrapper {
  position: relative;
  height: 60vh;
  width: 45vw;
  border-radius: 20px;
  background-color: #EDD4D4;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
section {
  position: fixed;
  color: #ffc0cb;
  font-size: 24px;
  right: 0;
  user-select: none;
  top: 1em;
  animation: appear 1s forwards ease-in-out;
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.wrapper * {
  margin: 2% 5%;
}

.wrapper::before {
  content: 'Configure your field';
  font-family: 'Pacifico', cursive !important;
  color: #94BFA7;
  font-size: 45px;
  top: -1em;
  width: max-content;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
@media (orientation: portrait) {
  sea-turn-device {
    display: block;
  }
}
@media (min-width: 950px) and (max-height: 800px) {
  .wrapper {
    height: 50vh;
  }
}
@media (max-height: 800px), (max-width: 1000px) {
  .configuration-wrapper {
    button {
      margin-top: 1em;
      font-size: 20px;
    }
  }
}
@media (max-height: 800px) {
  .configuration-wrapper {
    button {
      margin-top: .7em;
      font-size: 16px;
    }
  }
  .wrapper::before {
    font-size: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    text-indent: 0;
  }
  section {
    font-size: 16px;
  }
}
@media (max-height: 420px) {
  .wrapper::before {
    font-size: 20px;
  }
  .configuration-wrapper {
    button {
      margin-top: .3em;
      font-size: 14px;
    }
  }
  sea-field {
    margin-top: -1.5em;
  }
  section {
    font-size: 13px;
  }
}
@media (max-height: 350px) {
  .wrapper::before {
    font-size: 16px;
  }
  .configuration-wrapper {
    button {
      margin-top: .3em;
      font-size: 11px;
    }
  }
  section {
    font-size: 12px;
  }
}
@media (max-height: 300px) {
  .configuration-wrapper {
    transform: translateY(-10px);
    button {
      margin-top: .3em;
      font-size: 11px;
    }
  }
  .wrapper {
    transform: translateY(-12px);
  }
}