<sea-go-back></sea-go-back>
<sea-turn-device></sea-turn-device>
<div id="flex-container" cdkDropListGroup>
    <div class="configuration-wrapper" @moveInventory>
        <div class="wrapper" #wrapper cdkDropList cdkDropListSortingDisabled>
            <ng-container *ngFor='let ship of ships'>
                <sea-ship (shipFlipped)='flipped($event)' (cdkDragDropped)='dragDrop($event)' [shipConfig]='ship'
                    [cdkDragData]='ship' cdkDrag>
                </sea-ship>
            </ng-container>
        </div>
        <button seaShowHideText #copyButton mat-flat-button [cdkCopyToClipboard]="inviteLink">
            <mat-icon>link</mat-icon> Copy invite link
        </button>
        <button (click)='sendFieldConfig()' *ngIf='canSend' mat-flat-button>
            <mat-icon>videogame_asset</mat-icon> Start a game
        </button>
    </div>
    <sea-field #field @moveField>
        <ng-container *ngFor='let bar of bars'>
            <sea-field-bar [cdkDropListEnterPredicate]='canBePlaced' (cdkDragStarted)='dragStart($event)' cdkDropList
                (cdkDropListDropped)='drop($event)'></sea-field-bar>
        </ng-container>
    </sea-field>
    <section *ngIf="someoneReady">
        {{someoneReady}}
    </section>
</div>