<div id="container">
    <h2>Simply create a new game or join an existing one</h2>
    <div class="buttons">
        <button (click)='startNewGame()' mat-flat-button color='primary'>Create a new game</button>
        <mat-form-field>
            <mat-label>Enter a game link here (8 symbols)</mat-label>
            <input [maxLength]="36" #codeInput autocomplete="off" matInput>
        </mat-form-field>
        <button *ngIf="codeInput.value.length === 8 || codeInput.value.length === 16"
            [@buttonAppear]='showButton ? "appeared" : "disappeared"' (click)='joinExistingGame(codeInput.value)'
            mat-flat-button color='accent'>Join a game</button>
    </div>
</div>